
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
h1 {
  font-family: Outfit, serif;
  font-weight: 700;
  color: hsl(24, 5%, 18%) !important;
}
li {
  padding-left: 1cm;
}
h3 {
  font-family: Outfit, serif;
  font-weight: 700;
}